<% if @books.blank? %>
  <h4>There are no books containing the term <%= params[:search] %>.</h4>
  <% end %>
<% else %>
<% @books.each do |book| %>
<div>
  <h1><%= link_to book.title , book_path(book) %></h1>
  <i><%= book.authors.full_name %></i>
  <i><%= book.year %></i>
</div>
<% end %>


